<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Message Hub Dot Com!</h1>
        <h3>Welcome {{ user["first_name"] }}</h3>
        <hr>
        <h2>Add a Post!</h2>
        <form action="/create" method="post">
            <div class="form-group">
                <label for="topic">Topic</label>
                <input type="text" name="topic" id="topic">
            </div>
            <div class="form-group">
                <label for="content">Post</label>
                <textarea type="text" name="content" id="content"></textarea>
            </div>
            <button>Submit</button>
        </form>
        <h2>Posts:</h2>
        {% for post in posts %}
            <div class="post">
                <h4>{{ post["topic"] }}</h4>
                <p>{{ post["content"] }}</p>
                <h5>Posted by {{ post["first_name"] }} {{ post["last_name"] }}</h5>
            </div>
        {% endfor %}
    </div>
    </body>
    </html>
    
